.header-title-big {
  color: #f9fcff;
  font-size: 3em;
  font-weight: 400;
  text-shadow: 0px 2px 4px #3b91ff;
}


.glass
{

    display: flex;
    flex-direction:column;
    position: relative;
    margin: 0 auto;
    padding: 1em;
    max-width: 45%;
    background: rgba(255, 255, 255, 0.25) border-box;
    overflow: hidden;
    border-radius: .3em;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 0 0.5em 1em rgba(0, 0, 0, 0.6);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
}

.superscan
{
  display: flex;
  flex-direction: row;
}
.scan
{
    display:flex;
    border:none;
    margin-left:5px;
    margin-right:5px;
    padding-left:1.5rem;
    padding-right:1.5rem;
    font-size:1.5rem;
    width: 50%;
    background-color: rgb(55, 57, 59);
    cursor:pointer;
    color:white;
    border-radius: 0.15rem;
    appearance: none;
    justify-content:center;
}
.scan:hover
{
    background-color: rgb(216, 226, 247);
    color:darkslategray;
}
.scan:focus
{
  outline-style: double;
  outline-width: 0.05em;
  outline-color: rgb(236, 154, 45);
}

.form-group
{
  margin-top:2rem;
  margin-bottom:2rem;
}

.m-btn-div
{
  display: flex;
  width: auto;
  margin-top:2rem;
  margin-left:5px;
  margin-right:5px;
  justify-content: center;
}
.btn
{
  width:18rem;
  font-size:1.15rem;
  font-weight: 600;
  background-color: rgb(49, 96, 156);
}


.target
{
  margin-left:5px;
  margin-right:5px;
  margin-top:3rem;
  font-size: 1.2rem;
  font-weight: 400;
  color:rgb(226, 226, 226);
}
.target-text
{
  margin-bottom:0.5rem;
}

.form-check
{
  margin-top:1.2rem;
  font-size:1rem;
  text-align:justify;
}


.logsign
{
  display: flex;
  flex-direction: row;
  margin-left:22em;
}


.navbar-dark
{
    font-size: 1.25rem;
    font-weight: 400;
    box-shadow: 0px 2px 4px black;
}

.navbar-brand
{
    margin-right: 5rem;
}

.nav-link,.nav-item
{
    margin-right:1em;
}




.header-subtitle {
  color: inherit;
  font-size:2em;
}

.header-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f9fcff;
  text-shadow: 0px 2px 4px #3b91ff;
}

body {
  background-image: url("bgpic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
